/**
Author: Jonas Atienza 
Date Modified: Feb 17, 2023
**/

/*Import font family from google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{ /*Set global font-family for body tag*/
  font-family: 'Montserrat', sans-serif;
  background-color: #F5F5F7;
}

#title{ /*Set attributes for title id*/
padding: 20px;
color: #1D1D1F;
font-size: 50px;
font-variation-settings: 'wght' 900;
}

label{ /*Set attributes for label tags*/
  color: #410000;
  width: 30%;
  font-variation-settings: 'wght' 600;
  padding: 12px 12px 12px 0;
  display: inline-block;
}
